.login {
    background-image: url("../../media/ammanschool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}

.home {
    background: #091628;
}